@charset "utf-8";

* {margin:0;padding:0;vertical-align:middle;border:0;box-sizing:border-box;}
html, body {width:100%;height:100%;}
body {font:normal 16px/1 'arial', 'sans-serif';color:#333;background:#f9f9f9;}
ul,li {list-style:none;}
a {color:#333;text-decoration: none;}
.clearfix::after {content:'';display: block;clear: both;}
